.ticker {
    align-self: center;
    width: 100%;
    transform: translateX(110%);
    &-text {
        font-size: 65px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        white-space: nowrap;
        color: var(--black-green)
    }
}



  
